.panel.panel-body.text-center
	- if user_signed_in?
		.row
			= render 'shared/user_info'
			%hr
		= pluralize(@user.pins.count, "Pin")

#pins.transitions-enabled.infinite-scroll.clearfix
	= render @pins

= paginate @pins