.jumbotron.text-center
	%h1 Welcome to Pinteresting
	%p This is the Pinterest clone application created as part of my self-training on Ruby on Rails.
	%p Want to know more?
	= link_to 'Log In', new_user_session_path, class: 'btn btn-lg btn-default'
	= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-lg btn-primary'