/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* VARIABLES */

	$white: #fff;
	$gray-medium-light: #eaeaea;
	$light-blue: #ecf0f1;
	$dark-blue: #bdc3c7;	
	$gray: #555;
	$dark-gray: #222;
	$red: #cc2127;

	$body-bg: $light-blue;
	$navbar-default-link-hover-color: $red;
	$brand-primary: $red;
	$jumbotron-bg: $dark-blue;

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Montserrat);

/* HEADER */

#logo {
	font-family: Montserrat;
	float: left;
	font-size: 1.7em;
	color: $red;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
	&:hover {
		color: $red;
		text-decoration: none;
	}
}

.navbar-nav > li > .dropdown-menu > li:first-child {
  padding: 3px 20px;
}

/* FOOTER */

.container .text-muted {
	margin: 15px 0;
}